@using System.Collections.Generic
@using Soenneker.Extensions.String
@using Soenneker.Quark.Divs

@inherits Soenneker.Quark.Components.Element

<Div @attributes="BuildAttributes()">
	@ChildContent
</Div>

@code {
    protected override Dictionary<string, object> BuildAttributes()
    {
        Dictionary<string, object> attributes = base.BuildAttributes();
        
        // Ensure the container class is always included
        var existingClass = attributes.GetValueOrDefault("class")?.ToString();
        const string containerClass = "container";
        
        if (existingClass.IsNullOrEmpty())
        {
            attributes["class"] = containerClass;
        }
        else
        {
            attributes["class"] = $"{containerClass} {existingClass}";
        }
        
        return attributes;
    }
}
